html{
    background-color:black;
   
}

img{
    border: 5px solid white;
    width: 100%;
    margin-top: 100px;
}

*{
    text-align: center;
}

#first{
    width: 50%;
    margin-left: 25%;
    color: white;
    font-family: 'Libre Baskerville','serif';
    text-align: center;
}
h1{
    text-transform: uppercase;
    font-size: 3rem;
  
}

#second{
    text-align: right;
    color: white;
}
